[submodule "backend"]
	path = backend
	url = https://github.com/jhonlpjr/backend-web-movies-laravel.git
[submodule "frontend-react"]
	path = frontend-react
	url = https://github.com/jhonlpjr/frontend-web-movies-react.git
[submodule "frontend-angular"]
	path = frontend-angular
	url = https://github.com/jhonlpjr/frontend-web-movies-angular.git
[submodule "database"]
	path = database
	url = https://github.com/jhonlpjr/database-web-movies-mysql.git
